body { 
	background-image: url("Hot_pizza.jpg");
	background-repeat:no-repeat;
	background-color:rgb(206, 88, 39);
	background-size: cover;
	background-image: relative;
	left:7000px;
	color:white;
	text-align:justify;
	font-size:14px;
	letter-spacing: 1px;
	font-family:'Noticia Text', serif;
}

.squares {
	background:#000000;
}

.verticalLine {
    border-left: thin solid #ff0000;
    width:500px;
    margin-left:50px;
    margin-top:150px
}

h1 {
	position:relative;
	top:140px;
	left:50px;
	letter-spacing: 1px;
	font-family:'Fredoka One', cursive;
	letter-spacing: 1px;
	font-size:50px
}
p {
	margin:100px 0px 10px 30px;
	color:white;
}

		
