body 
{
	color: white;
	background: url("Unit3ProjectAssets/Assets/stripes.png"), url("Unit3ProjectAssets/Assets/background.jpg");
	background-size: auto, cover;
	background-repeat: repeat-x, no-repeat;
	
}
	
p {
	font-family: 'Helvetica';
	font-weight: 100;
	font-size: 20px;
}

hr 
{
	border-color: red;
	width: 50px;
	margin-left: 0px
}


div.main {
 	margin-top: 300px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 50px
}




	

		
		


	

	
	







/*Make use of some the property declarations you learned in this unit, such as:

background
font-size
font-family
color
height
width
padding
Align text using:

margin
font-weight
line-height*/
